# Challenge 1

## Reading Materials

### Required Reading
Due: September 6, 2018

 * Understanding Machine Learning from Theory to Algorithms, S. Shalev-Shwartz and S. Ben-David
   * **Chapter 1**: A gentle start
   * **Chapter 9**: Linear predictors
   

### [Kaggle Tutorials](https://www.kaggle.com/learn/overview)
Due: September 6, 2018

 * __Complete__ [Python course](https://www.kaggle.com/learn/python), if needed
 * __Complete__ [Pandas course](https://www.kaggle.com/learn/pandas), if needed


## Activity 1
Due: September 6, 2018

In Activity 1, you are tasked with estimating the mean and variance of a series of data sets, two parameters for every row.
Each student has their own file, and should work in place.
```python
student_identity = 'netid'
filename = '1challenge1activity_' + student_identity + '.csv'
```

### Deliverables
 1. Fill column ```Mean``` and ```Variance```.
 2. Commit your change on Git.

### Metric
 * Average $L_2$ norm between the true and estimated parameters.

In [19]:
import pandas as pd
import numpy as np

student_identity = 'ranjith'
filename = '1challenge1activity_' + student_identity + '.csv'
my_data_frame = pd.read_csv(filename)
my_data_frame.head(11)

,Unnamed: 0,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,0,NaN,NaN,-1.128643,0.426177,0.547892,0.785183,0.071460,-0.261810,-0.365423,-1.026478,-0.344022,-0.529497,0.630995,-0.280349
1,1,NaN,NaN,0.143263,0.477162,0.381937,0.807262,2.330155,1.925258,0.050765,1.368281,0.792764,1.018708,2.086376,0.669390
2,2,NaN,NaN,0.120016,2.042033,1.855464,0.229866,1.066264,-0.252665,0.506060,1.141548,0.821967,0.769171,0.046756,0.989899
3,3,NaN,NaN,0.043195,-1.186265,-0.151088,0.020431,-0.465333,-0.201093,1.448558,-1.664082,0.551573,1.268335,0.969851,-0.272888
4,4,NaN,NaN,-0.584659,0.109705,0.405754,0.519585,1.120290,-0.519037,-0.143411,-0.314579,-1.229484,-0.129110,0.067145,0.049319
5,5,NaN,NaN,-1.972659,-1.771978,-0.240130,-1.097187,-0.881396,0.297162,-1.085468,0.546473,-3.092281,-1.607911,-2.475691,-0.496108
6,6,NaN,NaN,2.408160,-0.363652,0.579356,0.648324,-0.302247,0.217841,-0.759008,1.262913,1.202919,0.622080,1.233156,2.458348
7,7,NaN,NaN,2.535573,2.948658,1.271456,1.612673,3.636069,1.624392,0.753365,2.897283,2.382408,2.810575,2.581029,0.970818
8,8,NaN,NaN,-1.432324,-0.423971,-1.074356,-1.487399,-1.158564,-1.660119,-1.864890,-1.545987,-2.584683,-1.747792,-1.419189,0.082861
9,9,NaN,NaN,-1.489124,-0.745657,0.055579,-0.823634,-0.554652,1.447623,-1.310090,-2.278424,-2.603914,0.069457,-0.601590,-1.694717
10,10,NaN,NaN,1.018974,0.780941,1.424133,-1.244878,0.186104,0.481925,-0.368657,-0.076655,0.189525,0.548577,0.335989,-1.351727

In [18]:
cropped_data_frame=my_data_frame[my_data_frame.columns[3:14]]
my_data_frame['Mean'] = cropped_data_frame.mean(axis=1)
my_data_frame['Variance'] = cropped_data_frame.var(axis=1)
my_data_frame.head(11)

,Unnamed: 0,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,0,-0.108561,0.430024,-1.128643,0.426177,0.547892,0.785183,0.071460,-0.261810,-0.365423,-1.026478,-0.344022,-0.529497,0.630995,-0.280349
1,1,1.034721,0.629885,0.143263,0.477162,0.381937,0.807262,2.330155,1.925258,0.050765,1.368281,0.792764,1.018708,2.086376,0.669390
2,2,0.758771,0.537625,0.120016,2.042033,1.855464,0.229866,1.066264,-0.252665,0.506060,1.141548,0.821967,0.769171,0.046756,0.989899
3,3,0.057644,0.937376,0.043195,-1.186265,-0.151088,0.020431,-0.465333,-0.201093,1.448558,-1.664082,0.551573,1.268335,0.969851,-0.272888
4,4,-0.063436,0.392098,-0.584659,0.109705,0.405754,0.519585,1.120290,-0.519037,-0.143411,-0.314579,-1.229484,-0.129110,0.067145,0.049319
5,5,-1.216460,1.263390,-1.972659,-1.771978,-0.240130,-1.097187,-0.881396,0.297162,-1.085468,0.546473,-3.092281,-1.607911,-2.475691,-0.496108
6,6,0.613622,0.821013,2.408160,-0.363652,0.579356,0.648324,-0.302247,0.217841,-0.759008,1.262913,1.202919,0.622080,1.233156,2.458348
7,7,2.277589,0.733786,2.535573,2.948658,1.271456,1.612673,3.636069,1.624392,0.753365,2.897283,2.382408,2.810575,2.581029,0.970818
8,8,-1.490843,0.286477,-1.432324,-0.423971,-1.074356,-1.487399,-1.158564,-1.660119,-1.864890,-1.545987,-2.584683,-1.747792,-1.419189,0.082861
9,9,-0.803130,1.281768,-1.489124,-0.745657,0.055579,-0.823634,-0.554652,1.447623,-1.310090,-2.278424,-2.603914,0.069457,-0.601590,-1.694717
10,10,0.297816,0.510883,1.018974,0.780941,1.424133,-1.244878,0.186104,0.481925,-0.368657,-0.076655,0.189525,0.548577,0.335989,-1.351727

In [20]:
my_data_frame.to_csv('1challenge1activity_answer' + student_identity + '.csv')