In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

In [3]:
#Data loading 
train_data = pd.read_csv('D:\\Semester-3\\ECEN 689\\Challenge 3\\population_training.csv', encoding='cp1252')
test_data = pd.read_csv('D:\\Semester-3\\ECEN 689\\Challenge 3\\population_testing.csv', encoding='cp1252')

In [4]:
print(train_data.head(5))

  Country Name     1960     1961     1962     1963     1964     1965  \
0        Aruba    54211    55438    56225    56695    57032    57360
1  Afghanistan  8996351  9166764  9345868  9533954  9731361  9938414
2       Angola  5643182  5753024  5866061  5980417  6093321  6203299
3      Albania  1608800  1659800  1711319  1762621  1814135  1864791
4      Andorra    13411    14375    15370    16412    17469    18549

       1966      1967      1968    ...         1990      1991      1992  \
0     57715     58055     58386    ...        62149     64622     68235
1  10152331  10372630  10604346    ...     12249114  12993657  13981231
2   6309770   6414995   6523791    ...     12171441  12553446  12968345
3   1914573   1965598   2022272    ...      3286542   3266790   3247039
4     19647     20758     21890    ...        54509     56671     58888

       1993      1994      1995      1996      1997      1998      1999
0     72504     76700     80324     83200     85451     87277     89005
1  15095099  16172719  17099541  17822884  18381605  18863999  19403676
2  13403734  13841301  14268994  14682284  15088981  15504318  15949766
3   3227287   3207536   3187784   3168033   3148281   3128530   3108778
4     60971     62677     63850     64360     64327     64142     64370

[5 rows x 41 columns]

In [5]:
names = list(train_data['Country Name'].values)

In [6]:
print(names)

['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra', 'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana', 'Central African Republic', 'Canada', 'Central Europe and the Baltics', 'Switzerland', 'Channel Islands', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands', 'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'East Asia & Pacific (excluding high income)', 'Early-demographic dividend', 'East Asia & Pacific', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.', 'Euro area', 'Spain', 'Estonia', 'Ethiopia', 'European Union', 'Fragile and conflict affected situations', 'Finland', 'Fiji', 'France', 'Faroe Islands', 'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala', 'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China', 'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total', 'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India', 'Ireland', 'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis', 'Korea, Rep.', 'Latin America & Caribbean (excluding high income)', 'Lao PDR', 'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Latin America & Caribbean', 'Least developed countries: UN classification', 'Low income', 'Liechtenstein', 'Sri Lanka', 'Lower middle income', 'Low & middle income', 'Lesotho', 'Late-demographic dividend', 'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China', 'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico', 'Marshall Islands', 'Middle income', 'Macedonia, FYR', 'Mali', 'Malta', 'Myanmar', 'Middle East & North Africa (excluding high income)', 'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman', 'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend', 'Puerto Rico', 'Korea, Dem. Peopleâ€™s Rep.', 'Portugal', 'Paraguay', 'Pacific island small states', 'Post-demographic dividend', 'French Polynesia', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'South Asia', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Sub-Saharan Africa (excluding high income)', 'South Sudan', 'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Swaziland', 'Seychelles', 'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'East Asia & Pacific (IDA & IBRD countries)', 'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand', 'Tajikistan', 'Turkmenistan', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)', 'Tonga', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine', 'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan', 'St. Vincent and the Grenadines', 'Venezuela, RB', 'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe']

In [56]:
#Checking Data Dimensions
print(train_data.shape)

(258, 41)

In [57]:
#Dropping the ID Column
test_data_ = test_data['Country Name']
train_data.drop(['Country Name'], axis=1, inplace=True)
test_data.drop(['Country Name'], axis=1, inplace=True)

In [58]:
train_data.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,54211,55438,56225,56695,57032,57360,57715,58055,58386,58726,...,62149,64622,68235,72504,76700,80324,83200,85451,87277,89005
1,8996351,9166764,9345868,9533954,9731361,9938414,10152331,10372630,10604346,10854428,...,12249114,12993657,13981231,15095099,16172719,17099541,17822884,18381605,18863999,19403676
2,5643182,5753024,5866061,5980417,6093321,6203299,6309770,6414995,6523791,6642632,...,12171441,12553446,12968345,13403734,13841301,14268994,14682284,15088981,15504318,15949766
3,1608800,1659800,1711319,1762621,1814135,1864791,1914573,1965598,2022272,2081695,...,3286542,3266790,3247039,3227287,3207536,3187784,3168033,3148281,3128530,3108778
4,13411,14375,15370,16412,17469,18549,19647,20758,21890,23058,...,54509,56671,58888,60971,62677,63850,64360,64327,64142,64370

In [51]:
train_data.drop([0], axis=0, inplace=True)
test_data.drop([0], axis=0, inplace=True)

In [52]:
train_data.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
1,8996351,9166764,9345868,9533954,9731361,9938414,10152331,10372630,10604346,10854428,...,12249114,12993657,13981231,15095099,16172719,17099541,17822884,18381605,18863999,19403676
2,5643182,5753024,5866061,5980417,6093321,6203299,6309770,6414995,6523791,6642632,...,12171441,12553446,12968345,13403734,13841301,14268994,14682284,15088981,15504318,15949766
3,1608800,1659800,1711319,1762621,1814135,1864791,1914573,1965598,2022272,2081695,...,3286542,3266790,3247039,3227287,3207536,3187784,3168033,3148281,3128530,3108778
4,13411,14375,15370,16412,17469,18549,19647,20758,21890,23058,...,54509,56671,58888,60971,62677,63850,64360,64327,64142,64370
5,92490932,95044497,97682294,100411076,103239902,106174988,109230593,112406932,115680165,119016542,...,224735446,230829868,235037179,241286091,247435930,255029671,260843462,266575075,272235146,277962869

In [59]:
#Returns the DataFrame values without the axes labels
population_training_df = train_data.values
population_testing_df = test_data.values

In [60]:
print(population_training_df.shape)

(258, 40)

In [61]:
population_training_df = population_training_df.transpose()
population_testing_df = population_testing_df.transpose()

In [62]:
print(population_training_df.shape)
print(population_testing_df.shape)

(40, 258)
(17, 258)

In [63]:
#Segregating the first row from the other rows in training and testing
x_training = population_training_df[1:]
y_training = population_training_df[0]

x_testing = population_testing_df[1:]
y_testing = population_testing_df[0]

In [64]:
#Taking transpose of the df
x_training = x_training.transpose()

x_testing = x_testing.transpose()

In [65]:
print(x_training.shape)

(258, 39)

In [66]:
#Defining multiple alpha's for Lasso Regression
#alphas = 10**np.linspace(10,-2,7)*0.5
alphas = 10**np.linspace(10,-2,10)*0.5
alphas

array([5.00000000e+09, 2.32079442e+08, 1.07721735e+07, 5.00000000e+05,
       2.32079442e+04, 1.07721735e+03, 5.00000000e+01, 2.32079442e+00,
       1.07721735e-01, 5.00000000e-03])

In [68]:
coef_final = []
regressor = Lasso(fit_intercept=True, normalize=True)
coefs = []
pred_list=[]


for i in range(0,258):
    print(i)
    y_training = list(population_training_df[population_training_df.index==i].values.transpose())
    x = population_training_df
    name1 = list(x[x.index==i].values)
    x.name1=0
    x_training=population_training_df[population_training_df.index != i].values
    
    y_testing =  list(population_testing_df[population_testing_df.index==i].values.transpose())
    t = np.array(population_testing_df)
    name2 = t.columns[i]
    t.name2=0
    x_testing = np.array(t)
    mini = float('inf')
    
    for a in alphas:
        regressor.set_params(alpha = a)
        regressor.fit(x_training, y_training)
        prediction = regressor.predict(x_testing)
        error = mean_squared_error(prediction,y_testing)
        count = np.count_nonzero(regressor.coef_)
        if count == 5:
            if error < mini:
                coef = regressor.coef_
                mini = error
                prediction = regressor.predict(x_testing)

    coef_final.append(coefs) 
    pred_list.append(prediction)

0

ValueError: shapes (258,17) and (40,) not aligned: 17 (dim 1) != 40 (dim 0)

In [14]:
coef_array = np.array(coef_final)

print(coef_array.shape)

(258, 0)

In [15]:
pred_array = np.array(pred_list)
print(pred_array.shape)

(258, 17)

In [16]:
df = pd.DataFrame(data=pred_array)
df = df.transpose()
print(df.shape)

(17, 258)

In [18]:
df.to_csv('Kaggle_Team6_2.csv')