# Challenge 4
## Part 2 (Wine quality decision tree)
#### This code will use random forest to classify wine quality as red or white

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.model_selection import train_test_split

In [14]:
df_train = pd.read_csv('winequality-combined-training.csv')
df_test = pd.read_csv('winequality-combined-testing.csv')

In [15]:
print(df_train.shape)
print(df_test.shape)

(5097, 13)
(1400, 12)

In [16]:
df_train.head(5)

,Id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,8.7,0.23,0.32,13.4,0.044,35.0,169.0,0.99975,3.12,0.47,8.8,0
1,1,5.0,0.27,0.40,1.2,0.076,42.0,124.0,0.99204,3.32,0.47,10.1,0
2,2,8.0,0.16,0.36,1.5,0.033,14.0,122.0,0.99410,3.20,0.39,10.3,0
3,3,5.8,0.28,0.35,2.3,0.053,36.0,114.0,0.99240,3.28,0.50,10.2,0
4,4,7.1,0.14,0.33,1.0,0.104,20.0,54.0,0.99057,3.19,0.64,11.5,0

In [17]:
df_test.head(5)

,Id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0,7.4,0.18,0.36,13.1,0.056,72.0,163.0,1.00000,3.42,0.35,9.1
1,1,7.6,0.26,0.36,1.6,0.032,6.0,106.0,0.99300,3.15,0.40,10.4
2,2,7.0,0.27,0.48,6.1,0.042,60.0,184.0,0.99566,3.20,0.50,9.4
3,3,7.0,0.24,0.18,1.3,0.046,9.0,62.0,0.99400,3.38,0.47,10.1
4,4,11.1,0.39,0.54,2.7,0.095,21.0,101.0,1.00010,3.13,0.51,9.5

In [18]:
id_list_tr = df_train['Id']
id_list_test = df_test['Id']

In [19]:
X = df_train.drop(['Id', 'type'], axis=1)
y = df_train['type']

#commenting out for now
#used for validating the model
#X_train, X_test, y_train, y_test = train_test_split(
#    X, y, train_size=1.0, random_state=0)

In [20]:
#defining random forest classifier
clf = RandomForestClassifier(n_estimators=1000,random_state=0)
clf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [21]:
## uncomment for validating the model
#y_pred = clf.predict(X_test)
#pscore = accuracy_score(y_test, y_pred)
#print(pscore)

In [22]:
#getting data for test set
test_final = df_test.drop(['Id'], axis=1)
pred = clf.predict(test_final)

In [23]:
df_final = pd.DataFrame(data=df_test['Id'], columns=['Id'])
df_final['type'] = pred
df_final.head(5)

   Id  type
0   0     0
1   1     0
2   2     0
3   3     0
4   4     1

In [24]:
df_final.to_csv('winequality-combined-solution.csv', index=False)

In [25]:
print(df_final.shape)

(1400, 2)