# Challenge 1

## Reading Materials

### Required Reading
Due: September 6, 2018

 * Understanding Machine Learning from Theory to Algorithms, S. Shalev-Shwartz and S. Ben-David
   * **Chapter 1**: A gentle start
   * **Chapter 9**: Linear predictors
   

### [Kaggle Tutorials](https://www.kaggle.com/learn/overview)
Due: September 6, 2018

 * __Complete__ [Python course](https://www.kaggle.com/learn/python), if needed
 * __Complete__ [Pandas course](https://www.kaggle.com/learn/pandas), if needed


## Activity 1
Due: September 6, 2018

In Activity 1, you are tasked with estimating the mean and variance of a series of data sets, two parameters for every row.
Each student has their own file, and should work in place.
```python
student_identity = 'netid'
filename = '1challenge1activity_' + student_identity + '.csv'
```

### Deliverables
 1. Fill column ```Mean``` and ```Variance```.
 2. Commit your change on Git.

### Metric
 * Average $L_2$ norm between the true and estimated parameters.

In [5]:
import pandas as pd
import numpy as np

student_identity = 'ramachandran.swati'
filenameToRead = '1challenge1activity_' + student_identity + '.csv'
filename = '1challenge1activity_' + student_identity + '.csv'
sample_df = pd.read_csv('../../Challenges/1Files/' + filenameToRead)

list = []
for row in range(sample_df.shape[0]):
    array =  [sample_df['Sample 0'][row],sample_df['Sample 1'][row],
        sample_df['Sample 2'][row],sample_df['Sample 3'][row],
        sample_df['Sample 4'][row],sample_df['Sample 5'][row],
        sample_df['Sample 6'][row],sample_df['Sample 7'][row],
        sample_df['Sample 8'][row],sample_df['Sample 9'][row],
        sample_df['Sample 10'][row],sample_df['Sample 11'][row]]
    list.append([np.mean(array),np.var(array)])

for row in range(sample_df.shape[0]):
    sample_df.iloc[row, sample_df.columns.get_loc('Mean')] = list[row][0]
    sample_df.iloc[row, sample_df.columns.get_loc('Variance')] = list[row][1]

sample_df.to_csv(filename, sep=',', encoding='utf-8')

In [6]:
# printing first 5 rows of final csv
final_df= pd.read_csv(filename)
final_df.head(5)

,Unnamed: 0,Unnamed: 0.1,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,0,0,-0.916709,0.897854,0.065037,-1.549821,-1.303063,-2.654649,-1.309158,-0.092089,-1.664636,-1.303590,-0.350350,1.010814,-1.499202,-0.349796
1,1,1,0.810648,1.512573,1.908200,2.008594,1.696498,-0.872973,1.868081,1.928575,1.278726,1.035942,-1.179135,1.142866,0.326667,-1.414268
2,2,2,0.261386,0.568103,-0.719041,0.705790,-0.121068,0.884693,-0.440514,1.295716,-0.123085,0.791140,-0.013767,1.531297,-0.940193,0.285660
3,3,3,-0.903969,0.837121,0.335286,0.602625,-0.436255,-1.713543,-0.736654,-0.085038,-2.553008,-1.899781,-0.772650,-0.630989,-1.159869,-1.797756
4,4,4,1.804477,1.764942,0.957808,1.960922,3.635837,1.635939,0.095104,1.560131,1.857482,-0.882822,4.332507,2.213445,1.968576,2.318796