# Challenge 1

## Reading Materials

### Required Reading
Due: September 6, 2018

 * Understanding Machine Learning from Theory to Algorithms, S. Shalev-Shwartz and S. Ben-David
   * **Chapter 1**: A gentle start
   * **Chapter 9**: Linear predictors
   

### [Kaggle Tutorials](https://www.kaggle.com/learn/overview)
Due: September 6, 2018

 * __Complete__ [Python course](https://www.kaggle.com/learn/python), if needed
 * __Complete__ [Pandas course](https://www.kaggle.com/learn/pandas), if needed


## Activity 1
Due: September 6, 2018

In Activity 1, you are tasked with estimating the mean and variance of a series of data sets, two parameters for every row.
Each student has their own file, and should work in place.
```python
student_identity = 'netid'
filename = '1challenge1activity_' + student_identity + '.csv'
```

### Deliverables
 1. Fill column ```Mean``` and ```Variance```.
 2. Commit your change on Git.

### Metric
 * Average $L_2$ norm between the true and estimated parameters.

In [1]:
import pandas as pd
import numpy as np


student_identity = 'alahiri2'
filenameToRead = '1challenge1activity_' + 'alahiri2' + '.csv'
filename = '1challenge1activity_' + student_identity + '.csv'
sample_df = pd.read_csv(filenameToRead,index_col=0)# to prevent extra columns
sample_df.head(10)

,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,NaN,NaN,1.498503,-2.559238,0.301575,0.049590,0.349240,0.464527,0.391269,-1.364647,-0.546521,-1.048343,-1.855905,0.234723
1,NaN,NaN,1.371782,1.411531,3.091407,0.787080,0.736545,2.698763,0.711379,2.332422,1.328165,0.089271,3.103197,0.698848
2,NaN,NaN,1.881079,0.185109,-1.593711,-0.535274,1.076429,0.198941,0.797624,-0.165246,-0.220866,0.661238,0.817766,-1.503455
3,NaN,NaN,1.124927,0.415058,0.175620,4.050903,-1.088850,1.454906,0.974676,0.237188,-0.941140,1.466713,2.093164,2.210170
4,NaN,NaN,0.958118,-3.278991,-2.071456,-0.413536,-1.600000,-0.605383,-1.372261,-1.654638,-2.631291,-1.891636,-1.218534,-0.745007
5,NaN,NaN,-2.323603,-0.171002,-0.862779,-1.740333,-0.763579,0.484426,0.410151,-0.634313,-4.600797,-0.917306,-1.133224,-0.264200
6,NaN,NaN,-0.288091,-1.604695,-0.278274,0.146639,0.775018,0.468681,1.368941,-0.839507,-0.691206,-2.832715,-1.081445,-0.324827
7,NaN,NaN,3.592701,0.800910,0.102451,2.240921,1.271674,1.599995,3.909816,1.135725,1.997409,2.812264,0.828954,0.526439
8,NaN,NaN,1.983863,0.916644,1.388115,1.348377,0.422740,-0.102664,0.332369,0.412286,-0.483844,0.472074,-0.617333,1.496201
9,NaN,NaN,-0.727283,-0.929399,-0.503273,-0.332735,-1.619923,-0.103493,-0.128428,-1.031315,-0.238007,0.002789,-1.735376,-1.425688

In [3]:
list = []
for row in range(sample_df.shape[0]):
    array =  [sample_df['Sample 0'][row],sample_df['Sample 1'][row],
        sample_df['Sample 2'][row],sample_df['Sample 3'][row],
        sample_df['Sample 4'][row],sample_df['Sample 5'][row],
        sample_df['Sample 6'][row],sample_df['Sample 7'][row],
        sample_df['Sample 8'][row],sample_df['Sample 9'][row],
        sample_df['Sample 10'][row],sample_df['Sample 11'][row]]
    list.append([np.mean(array),np.var(array)])

for row in range(sample_df.shape[0]):
    sample_df.iloc[row, sample_df.columns.get_loc('Mean')] = list[row][0]
    sample_df.iloc[row, sample_df.columns.get_loc('Variance')] = list[row][1]

sample_df.head(10)

,Mean,Variance,Sample 0,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,Sample 11
0,-0.340435,1.229012,1.498503,-2.559238,0.301575,0.049590,0.349240,0.464527,0.391269,-1.364647,-0.546521,-1.048343,-1.855905,0.234723
1,1.530032,0.968399,1.371782,1.411531,3.091407,0.787080,0.736545,2.698763,0.711379,2.332422,1.328165,0.089271,3.103197,0.698848
2,0.133303,0.955237,1.881079,0.185109,-1.593711,-0.535274,1.076429,0.198941,0.797624,-0.165246,-0.220866,0.661238,0.817766,-1.503455
3,1.014445,1.845083,1.124927,0.415058,0.175620,4.050903,-1.088850,1.454906,0.974676,0.237188,-0.941140,1.466713,2.093164,2.210170
4,-1.377051,1.122144,0.958118,-3.278991,-2.071456,-0.413536,-1.600000,-0.605383,-1.372261,-1.654638,-2.631291,-1.891636,-1.218534,-0.745007
5,-1.043047,1.741437,-2.323603,-0.171002,-0.862779,-1.740333,-0.763579,0.484426,0.410151,-0.634313,-4.600797,-0.917306,-1.133224,-0.264200
6,-0.431790,1.141319,-0.288091,-1.604695,-0.278274,0.146639,0.775018,0.468681,1.368941,-0.839507,-0.691206,-2.832715,-1.081445,-0.324827
7,1.734938,1.339791,3.592701,0.800910,0.102451,2.240921,1.271674,1.599995,3.909816,1.135725,1.997409,2.812264,0.828954,0.526439
8,0.630736,0.607781,1.983863,0.916644,1.388115,1.348377,0.422740,-0.102664,0.332369,0.412286,-0.483844,0.472074,-0.617333,1.496201
9,-0.731011,0.346661,-0.727283,-0.929399,-0.503273,-0.332735,-1.619923,-0.103493,-0.128428,-1.031315,-0.238007,0.002789,-1.735376,-1.425688

In [4]:
sample_df.to_csv(filename, sep=',', encoding='utf-8')